<article class="flex flex-col gap-10">
    <header class="flex flex-col gap-2">
        {{ partial "single/components/title/large" . }}
      <div class="flex flex-col gap-3">
	<div class="flex text-sm font-semibold text-gray-500 gap-3">
          {{ partial "single/components/metatag/time" . }}
          {{ partial "single/components/metatag/categories" . }}
	</div>
	{{ partial "single/components/metatag/tags" . }}
      </div>
    </header>
    <section class="content text-lg text-gray-800">
    {{ .Content | emojify }}
    </section>
    {{ partial "single/components/comments/comments" . }}
</article>
